<% layout("./layouts/boilerplate")%> 

    <!-- <h1>Home Page</h1> -->

    

<!-- <img src=""> -->

<div class="image">
    <div class="overlay">
       
        <a href="/"> The LACI B Corporation Review Site</a>

    </div>
</div>