<% layout("./layouts/boilerplate")%> 

    <!-- <h1>Home Page</h1> -->

    <a href="/"> The LACI B Corporation Review Site</a>

<!-- <img src=""> -->

<!-- <div class="image">
    <div class="overlay">
       
        
    </div>
</div> -->